@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

:root {
    --color-black: #000000;
    --color-gray: #3F3F3F;
    --color-red: #FF0000;
    --color-white: #FFFFFF;
    --color-button: rgba(255, 0, 0, 0.9);
    --color-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --color-application: rgba(30, 30, 30, 0.39);
    --color-header: rgba(208, 203, 203, 0.53);
    --color-offcanvas: #4f4f4f;
    --color-forma: rgba(30, 30, 30, 0.60);
    --color-gallery: rgba(30, 30, 30, 0.67);
    --color-shadow-img: 0px 4px 4px rgba(0, 0, 0, 0.50);
    --color-footer: rgba(14.88, 14.63, 14.63, 0.80);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: var(--color-white);
    letter-spacing: 2.50px;
    font-size: 20px;
}

img {
    pointer-events: none;
}

input {
    color: var(--color-black);
    padding-inline: 10px;
    border: none;
    box-shadow: var(--color-shadow);
}

button {
    border: none;
    cursor: pointer;
}

.application {
    position: relative;
    width: 100%;
    min-height: 857px;
    background: url(images/poster.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: var(--color-application);
    }

    .application__header {
        width: 100%;
        height: 82px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        background: var(--color-header);
        position: absolute;
        top: 0;
        z-index: 2;
        padding-inline: 150px;

        img,
        .application__number,
        .application__menu {
            margin-bottom: 18px;
        }

        .application__number {
            color: var(--color-black);
        }

        .application__hamburger {
            cursor: pointer;

            .application__bar {
                width: 46px;
                height: 5px;
                background-color: var(--color-black);
                clip-path: polygon(15% 0, 0 100%, 85% 100%, 100% 0);
                margin: 3px 0;
            }
        }

        .application__menu-toggle:checked~.application__offcanvas {
            right: 0;
        }

        .application__offcanvas {
            position: fixed;
            top: 0;
            right: -250px;
            width: 250px;
            height: 100%;
            background: var(--color-gray);
            overflow: auto;
            transition: right 0.3s ease;
            z-index: 2;

            nav {
                display: flex;
                flex-direction: column;
                margin-top: 65px;

                a {
                    color: var(--color-white);
                    text-decoration: none;
                    padding: 10px 20px;
                    width: 100%;

                    &:hover {
                        background-color: var(--color-offcanvas);
                    }
                }
            }

            .application__close {
                font-size: 65px;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 10px;
                color: var(--color-white);
            }
        }
    }

    .application__forma {
        position: absolute;
        z-index: 1;
        top: 65%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 632px;
        height: 447px;
        background: var(--color-forma);
        box-shadow: var(--color-shadow);

        .application__title {
            font-size: 25px;
            text-transform: uppercase;
            width: 70%;
            text-align: center;
            margin-bottom: 25px;
        }

        .application__fio,
        .application__email {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 5px;
            }

            input {
                width: 324px;
                height: 45px;
            }
        }

        .application__fio {
            margin-bottom: 13px;
        }

        .application__email {
            margin-bottom: 47px;
        }

        .application__button {
            word-wrap: break-word;
            background-color: var(--color-red);
            width: 281px;
            height: 68px;
            cursor: pointer;
            box-shadow: var(--color-shadow);
        }
    }
}

.stocks {
    width: 100%;
    min-height: 900px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 61px 45px 137px;

    .stocks__content {
        max-width: 1101px;
        display: flex;
        flex-direction: column;

        .stocks__title {
            font-size: 25px;
            color: var(--color-black);
            text-transform: uppercase;
            margin: 0 0 65px 150px;
        }

        .stocks__description {
            background-color: var(--color-forma);
            width: 100%;
            height: 152px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                max-width: 650px;
                text-align: center;
            }

            .stocks__text {
                text-transform: uppercase;
            }
        }

        .stocks__container {
            display: flex;
            flex-wrap: wrap;

            .stocks__card {
                display: flex;
                flex-direction: column;
                align-items: center;

                .stocks__price {
                    position: relative;
                    background-color: var(--color-gray);
                    box-shadow: var(--color-shadow);
                    width: 206px;
                    height: 34px;
                    text-align: center;
                }

                .stocks__dash {
                    position: absolute;
                    margin-top: 383px;
                }
                
                .stocks__price-stock {
                    box-shadow: var(--color-shadow);
                    background-color: var(--color-red);
                    width: 206px;
                    height: 42px;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    margin-left: -45px;
                }
            }
        }
    }
}

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 900px;
    background: url(images/kitchen-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: var(--color-gallery);
    }

    .gallery__content {
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        .gallery__title {
            margin-top: 45px;
            font-size: 30px;
            text-transform: uppercase;
        }

        .gallery__carousel {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 51px;

            .gallery__sliders {
                box-shadow: var(--color-shadow);
                display: flex;
                overflow: hidden;
                width: 565px;
                height: 635px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: block;
                    transition: opacity 0.5s ease-in-out;

                    &.hidden {
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }

            .gallery__btn-left,
            .gallery__btn-right {
                border: none;
                background: none;
                cursor: pointer;

                &[disabled] {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }

            .gallery__btn-left {
                margin-right: 48px;
            }
            
            .gallery__btn-right {
                margin-left: 48px;
            }
        }

        .gallery__pagination {
            text-align: center;
            margin-top: 40px;
        }
    }
}

.catalog {
    width: 100%;
    height: 900px;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;

    .catalog__container {
        display: flex;
        flex-direction: column;
        max-width: 907px;
        height: 100%;
        overflow-x: hidden;

        .catalog__title {
            overflow-y: hidden;
            font-size: 25px;
            text-transform: uppercase;
            margin: 65px 0 0 45px;
        }

        .catalog__content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 100%;

            img {
                position: relative;
            }

            .catalog__circle {
                position: absolute;
                margin: 0 0 515px 64px;
                padding-top: 3px;
                background-color: var(--color-red);
                width: 43px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
            }

            .catalog__application {
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: translate(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 406px;
                height: 582px;
                margin-bottom: 200px;
                background-color: var(--color-header);
                box-shadow: var(--color-shadow);

                .catalog__application-title,
                .catalog__application-text,
                .catalog__application-text span,
                .catalog__fio label,
                .catalog__number label {
                    color: var(--color-black);
                }

                .catalog__application-title {
                    text-transform: uppercase;
                    margin: 41px 0 15px;
                }
                
                .catalog__application-text {
                    width: 82%;
                    text-align: center;
                    text-transform: lowercase;
                    margin-bottom: 35px;

                    span {
                        text-transform: uppercase;
                    }
                }

                .catalog__fio,
                .catalog__number {
                    display: flex;
                    flex-direction: column;

                    label {
                        margin-bottom: 5px;
                    }

                    input {
                        width: 303px;
                        height: 42px;
                    }
                }

                .catalog__fio input {
                    margin-bottom: 20px;
                }

                .catalog__number {
                    margin-bottom: 47px;
                }

                .catalog__button {
                    height: 65px;
                    width: 260px;
                    background-color: var(--color-red);
                    box-shadow: var(--color-shadow);
                }
            }
        }
    }
}

.advantages {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 568px;
    background-color: var(--color-white);

    .advantages__content {
        display: flex;
        flex-direction: column;
        width: 907px;

        .advantages__title {
            font-size: 30px;
            color: var(--color-black);
            text-transform: uppercase;
            margin: 68px 0 116px 72px;
        }
        
        .advantages__items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-inline: 10px;
            gap: 45px;

            .advantages__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                max-width: 25%;

                p {
                    color: var(--color-black);
                    font-size: 25px;
                    text-transform: uppercase;
                    word-wrap: initial;
                    text-align: center;
                    margin-top: 30px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 367px;
    display: flex;
    background: var(--color-footer);

    .footer__container {
        flex: 3;
        padding: 54px 0 54px 54px;
        overflow-y: hidden;

        .footer__number {
            display: flex;
            gap: 26px;
            margin-bottom: 150px;

            p {
                margin-top: 5px;
            }
        }
    }

    .footer__menu {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 25px;
        padding-top: 54px;
        text-transform: uppercase;

        a {
            text-decoration: none;
        }
    }
}